machine:
  install:
    image: factory.talos.dev/${platform}-installer/${schematic_id}:${talos_config.image.version}
%{ if length(talos_config.kernel_args) > 0 ~}
    extraKernelArgs:
%{ for kernel_arg in talos_config.kernel_args ~}
    - ${kernel_arg}
%{ endfor ~}
%{ endif ~}
  network:
%{ if hostname != "" ~}
    hostname: ${hostname}
%{ endif ~}
%{ if gateway != null ~}
    interfaces:
%{ if mac_address != "" ~}
    - deviceSelector:
        hardwareAddr: "${lower(mac_address)}"
%{ else ~}
    - interface: ${interface_name}
%{ endif ~}
      dhcp: false
%{ endif ~}
%{ if length(tuning.sysctls) > 0 ~}
  sysctls:
%{ for key, value in tuning.sysctls ~}
    ${key}: "${value}"
%{ endfor ~}
%{ endif ~}
  kubelet:
%{ if tuning.seccomp_default ~}
    defaultRuntimeSeccompProfileEnabled: true
%{ endif ~}
%{ if length(tuning.allowed_unsafe_sysctls) > 0 ~}
    extraArgs:
      allowed-unsafe-sysctls: "${join(",", tuning.allowed_unsafe_sysctls)}"
%{ endif ~}
    extraConfig:
      shutdownGracePeriod: ${tuning.shutdown_grace_period}
      imageGCHighThresholdPercent: ${tuning.image_gc_high}
      imageGCLowThresholdPercent: ${tuning.image_gc_low}
%{ if tuning.server_tls_bootstrap ~}
      serverTLSBootstrap: true
%{ endif ~}
